/* modules */
.screen
  &__wrapper
    &-title
      text-align: center
      color: #595959
      font-size: 16px
      font-family: $font-roboto-l
      span
        display: block
        line-height: 24px
      strong
        font-size: 30px
        line-height: 1.1
        color: $primary-color
        margin-bottom: 12px
        display: block
    &-title2
      text-align: center
      font-size: 16px
      font-family: $font-roboto-l
      color: #595959
      line-height: 26px
      // margin: 0 auto 40px
      // max-width: 635px
    &-appbtn
      text-align: center
      a
        display: inline-block
        &+a
          margin-left: 30px
      svg
        width: 142px
        height: 48px
        display: block
    &-tablist
      overflow: hidden
      overflow-x: auto
      text-align: center
      margin: 0 0 32px 0
      padding: 0 0 11px 0
      font-size: 16px
      white-space: nowrap
      &>li
        list-style: none
        margin: 0
        display: inline-block
        &+li
          margin-left: 27px
        &>a
          text-decoration: none
          font-family: $font-roboto-m
          text-transform: uppercase
          color: #595959
          border-bottom: 2px solid transparent
          padding-bottom: 10px
          &:hover
            color: $color-blue
        &.active
          &>a
            border-bottom-color: $color-blue
  &__homepage
    &-img
      margin-top: -10px
      margin-left: -15px
      margin-right: -15px
      img
        max-width: 100%
        height: auto
        display: block
        margin: 0 auto
    &-btn
      display: flex
      text-align: center
      &>div
        width: 50%
    &-small
      display: block
      color: #595959
      font-size: 12px
      line-height: 17px
      max-width: 360px
      margin: 0 auto
  &__pass-title
    text-align: center
    color: $color-blue
    text-transform: uppercase
    font-size: 22px
    font-family: $font-roboto-r
    margin-bottom: 15px
  &__profile
    text-align: center
    margin-bottom: 25px
    font-family: $font-roboto-r
    img
      max-width: 104px
      max-height: 104px
      border-radius: 50%
      object-fit: cover
      display: block
      margin: 0 auto 10px
    strong
      font-size: 20px
      font-family: $font-roboto-b
      display: block
    a
      font-size: 14px
      color: #b2b7c2
      // text-decoration: underline
  &__recommendation
    text-align: center
    font-size: 16px
    border-top: 1px solid #eff4f6
    max-width: 615px
    margin: 0 auto
    color: #595959
    padding: 25px 0
    strong
      color: $primary-color
      font-size: 20px
      display: block
      margin-bottom: 3px

  &__404
    color: #595959
    font-size: 16px
    font-family: $font-roboto-l
    &-img
      margin-bottom: 40px
      img
        max-width: 100%
        height: auto
        display: block
        margin: 0 auto
    &-title
      text-align: center
      color: #595959
      font-size: 16px
      font-family: $font-roboto-l
      margin-bottom: 30px
      strong
        font-size: 30px
        line-height: 1.1
        color: #232323
        margin-bottom: 12px
        display: block
      span
        display: block
        line-height: 24px
  &__user
    &-list
      max-width: 615px
      margin: 0 auto
    &-profile
      border-top: 1px solid #eff4f6
      padding: 34px 30px 30px 30px
      color: #595959
      font-size: 16px
      font-family: $font-roboto-l
      position: relative
      &:last-child
        border-bottom: 1px solid #eff4f6
      .connection__block
        margin-bottom: 14px
        &+p
          &:last-child
            margin-bottom: 0
          a
            text-decoration: none
        .small
          font-size: 14px
          color: #b2b7c2
    &-gallery
      margin-bottom: 20px
      +clearfix
      a
        float: left
        img
          max-height: 151px
          max-width: 100%
    &-nav
      &-top
        position: absolute
        right: 0
        top: 18px
        display: block
        width: 29px
        height: 29px
        line-height: 23px
        text-align: center
        cursor: pointer
        &.is-active
          span
            background: $color-blue
            &::before, &::after
              background: $color-blue
        span
          position: relative
          display: inline-block
          height: 5px
          width: 5px
          border-radius: 50%
          background: #495676
          &::before, &::after
            position: absolute
            height: 5px
            width: 5px
            border-radius: 50%
            background: #495676
            content: ''
            left: -12px
          &::after
            left: 12px

      &-popup
        opacity: 0
        visibility: hidden
        position: absolute
        width: 187px
        background: $color-white
        right: -4px
        top: 47px
        z-index: 100
        box-shadow: 0 3px 15px rgba($color-black,.05)
        font-size: 13px
        font-family: $font-roboto-r
        color: $primary-color
        padding: 10px 0
        transform: translateY(10px)
        transition: all 0.35s
        &.is-active
          opacity: 1
          visibility: visible
          transform: translateY(0px)
        ul
          margin: 0
          padding: 0
          li
            list-style: none
            &>a, &>span
              display: block
              color: $primary-color
              text-decoration: none
              height: 34px
              line-height: 34px
              padding: 0 10px 0 23px
            &>a
              &:hover, &:focus
                color: $color-blue

.social
  &__list
    margin-bottom: 45px
    &>a, &>span
      height: 50px
      width: 50px
      display: inline-flex
      vertical-align: middle
      text-decoration: none
      opacity: 1
      transition: opacity 0.35s
      justify-content: center
      align-items: center
      background: $color-blue
      border-radius: 50%
      border: 2px solid $color-blue
      svg
        .path-1
          fill: $color-white
      &+a, &+span
        margin-left: 15px
    &>a
      &:hover
        background-color: $color-white
        svg
          .path-1
            fill: $color-blue
      &.active
        background: $color-blue
        svg
          .path-1
            fill: $color-white
    &>span
      background-color: $color-white
      svg
        .path-1
          fill: $color-blue
  &__enter
    &-title
      font-size: 18px
      margin: 0 -55px 35px -55px
      line-height: 28px
      font-family: $font-roboto-r

.form-group
  &__user-img
    width: 191px
    height: 198px
    margin: 0 auto 40px
    background: url('../img/upload-bg.png') center center no-repeat
    display: flex
    overflow: hidden
    cursor: pointer
    position: relative
    &::after
      content: 'Добавить фото'
      position: absolute
      left: 0
      right: 0
      text-align: center
      bottom: 0
      font-size: 17px
      color: #8c939f
      font-family: $font-roboto-r
    &>.div
      width: 105px
      height: 105px
      border-radius: 50%
      overflow: hidden
      margin-left: 43px
      margin-top: 42px
      display: flex
      justify-content: center
      align-items: center
      background: #f6f6f6
      img
        max-width: 100%
        height: auto
        display: block
    &-icon
      margin-top: 38px
      margin-left: 120px
      position: absolute
      width: 31px
      height: 31px
      background: url('../img/upload-bg.png') -119px -37px no-repeat
      z-index: 5
      border-radius: 50%
input.form-group__user-upload
    display: none

.connection
  &__block
    display: flex
    align-items: center
    &>div
      &:first-child
        width: 55px
        flex-shrink: 0
      &:nth-child(2)
        padding-left: 28px
        padding-right: 10px
        flex-grow: 1
      &:nth-child(3)
        flex-shrink: 0
    &-img
      position: relative
      &>div
        width: 55px
        height: 55px
        border-radius: 50%
        overflow: hidden
        position: relative
      img
        max-width: 100%
        height: auto
        display: block
      span
        display: block
        width: 15px
        height: 15px
        position: absolute
        right: -6px
        bottom: -6px
        background: $color-blue
        display: flex
        justify-content: center
        align-items: center
        border-radius: 50%
        z-index: 10
      svg
        max-width: 60%
        max-height: 60%
        .path-1
          fill: $color-white

    &-title
      text-decoration: none
      color: $primary-color
      font-size: 16px
      font-family: $font-roboto-m
      line-height: 26px
      &+.connection__block-link
        display: none
    &+div
      margin-top: 16px
    &-link
      color: #b2b6c0
      font-size: 12px
      text-transform: uppercase
      font-family: $font-roboto-m
      a
        text-decoration: none
        &:hover, &:focus
          text-decoration: underline

.popup
  position: relative
  background: $color-white
  padding: 30px
  width: auto
  max-width: 422px
  margin: 20px auto
  &__title
    font-size: 20px
    text-transform: uppercase
    font-family: $font-roboto-m
    line-height: 1
    margin-bottom: 20px
  .mfp-close
    right: 10px
    top: 10px
  .delete-all-img
    float: right
    font-size: 12px
    color: $primary-color
    margin-top: 5px

.p-city
  color: #999
  font-family: $font-roboto-r
  font-size: 14px
  margin-top: -10px

.tab-content
  &__panel
    padding: 0
    margin: 0
    border: 0
    border-radius: 0 !important
    box-shadow: none
    &-heading
      background: #eff4f6
      border-radius: 0
      .panel-title
        font-size: 14px
        font-family: $font-roboto-r
        text-transform: uppercase
        font-weight: 400
        padding-right: 55px
        position: relative
        z-index: 8
        [role="button"]
          text-decoration: none
          display: block
          color: #595959
          &::after
            width: 12px
            height: 7px
            content: ''
            position: absolute
            right: 56px
            bottom: 5px
            transform-origin: 50% 50%
            transform: rotate(0deg)
            transition: transform 0.35s
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHCAYAAAA8sqwkAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADzSURBVBiVbY67SgNRGIS//2yi6wXBXhQ7K19BUgkBUUG2STBZIgZ8ivMSBgLxEkx1ilgoEcQmVZ7BMvoABl11zUZ/GxdWyJQz3wwj5+3uAMPj08rykS0UJkyRc857j72WqmwYRIYolbXnl0vnnDcdzrUVqSIyNIt+cgjcKpSir9yZtdaksKpKFHsNhZII9/I9qpogCMbRyD9AuEOprK5vtqy1RlXl4qp7CnIM8rAwO9kLwzCWdK3ZvJnPzyU9YEtFGgCiegL0k898sV7f+QCQ7N9s6c8aaOJt12q7bynzrwDQ6fSWxj/xNcCM8ffL5eJrNv8FbrFd18hiu2YAAAAASUVORK5CYII=') 0 0 no-repeat
          &[aria-expanded="true"]
            &::after
              transform: rotate(-180deg)
    .panel
      &-body
        border: 0 !important
        padding: 30px 30px 25px 30px
      &-info
        position: absolute
        right: 17px
        top: 0px
        z-index: 10
        svg
          width: 20px
          height: 20px
          display: block
          path
            fill: #9ea2ae
        &::after
          content: attr(data-tooltip)
          opacity: 0
          visibility: hidden
          position: absolute
          width: 187px
          background: $color-white
          right: 0px
          top: 28px
          z-index: 100
          box-shadow: 0 3px 15px rgba($color-black,.05)
          font-size: 13px
          font-family: $font-roboto-r
          color: $primary-color
          padding: 10px
          transform: translateY(10px)
          transition: all 0.35s
          transition-delay: 0.25s
          text-transform: none
          color: #666
        &:hover
          &::after
            opacity: 1
            visibility: visible
            transform: translateY(0px)

      &+.panel
