if uc == 'Нет'
  header.header
    .container
      
      .header__logo
        a(href="#!")
          img.header__logo-big(src="./img/logo-big.png", alt="")
          img.header__logo-small(src="./img/logo-small.png", alt="")
          span Sarafan.fm
      
      .header__profile
        a(href="#!").btn.btn--header-enter Войти
        
      nav.header__nav
        ul
          li
            a(href="#!") 
              +icon1
              span.span О проекте
              
if uc == 'Да'
  header.header
    .container
      
      .header__logo
        a(href="#!")
          img.header__logo-big(src="./img/logo-big.png", alt="")
          img.header__logo-small(src="./img/logo-small.png", alt="")
          span Sarafan.fm
      
      .header__profile
        .header__profile-img
          div
            div
              //- img(src="./img/img-profile-small-test.png", alt="")
          i
        .header__profile-popup
          ul
            li
              a(href="#!") Мой профиль
            li
              a(href="#!") Редактировать
            li
              a(href="#!") Push уведомления 
            li
              a(href="#!") Рекомендовать
            li
              a(href="#!") Выйти
      
      nav.header__nav.header__nav--uc
        ul
          li
            a(href="#!") 
              +icon2
              span.span Друзья
          li
            a(href="#!") 
              +icon3
              span.span Нужна рекомендация
          li.hidden-xs
            a(href="#!") 
              span.span я рекомендую
              
if uc == 'Да + иконка'
  header.header
    .container
      
      .header__logo
        a(href="#!")
          img.header__logo-big(src="./img/logo-big.png", alt="")
          img.header__logo-small(src="./img/logo-small.png", alt="")
          span Sarafan.fm
      
      .header__profile
        .header__profile-img
          div
            div
              img(src="./img/img-profile-small-test.png", alt="")
          i
        .header__profile-popup
          ul
            li
              a(href="#!") Мой профиль
            li
              a(href="#!") Редактировать
            li
              a(href="#!") Push уведомления 
            li
              a(href="#!") Рекомендовать
            li
              a(href="#!") Выйти
      
      nav.header__nav.header__nav--uc
        ul
          li
            a(href="#!") 
              +icon2
              span.span Друзья
          li
            a(href="#!") 
              +icon3
              span.span Нужна рекомендация
          li.hidden-xs
            a(href="#!") 
              span.span я рекомендую
              
if uc == 'Логин'
  header.header
    .container
      
      .header__logo.header__logo--login
        a(href="#!")
          img.header__logo-big(src="./img/logo-big.png", alt="")
          img.header__logo-small(src="./img/logo-small.png", alt="")
          span Sarafan.fm
