doctype

html(lang="ru")
  
  -var active = 'Главная - экран 2' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная - экран 2' + ' - Sarafan.fm' //title страницы для генерации верстки  
  -var uc = 'Нет'

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    .content
      .container
        
        .screen
          .screen__wapper.padding-160.padding-md-100.padding-xxs-0
            .screen__wrapper-title.margin-b20
              strong Рыбальченко Александр подключил Вас к своему сарафанному радио.
              span Пользуйтесь его рекомендациями. Находите вместе нужных людей. Делитесь с ними проверенными контактами.
            .text-center
              a(href="#!").btn.btn--blue Подключиться
    
    include ./_include/_footer
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    
