doctype

html(lang="ru")
  
  -var active = 'Главная - экран 8 - 2' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная - экран 8 - 2' + ' - Sarafan.fm' //title страницы для генерации верстки  
  -var uc = 'Да + иконка'

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    .content
      .container
        
        .screen
          .screen__wrapper.width-m360.margin-0auto
            
            .screen__profile
              img(src="./img/avatar-default-big.png", alt="")
              strong Крылов Сергей
              a(href="#!").color--blue.link.link--none +7 (968) 374 41 40
              br
              a(href="#!").color--blue.link.link--none vkontakte.com/krulov
          
          .screen__user  
            .screen__user-list
                
              .screen__user-profile
                .screen__user-nav
                  .screen__user-nav-top
                    span
                  .screen__user-nav-popup
                    ul
                      li: a(href="#!") Редактировать
                      li: a(href="#!") Поделиться
                      li: a(href="#!") Удалить
                .connection__block
                  div
                    .connection__block-img
                      div
                        img(src="./img/avatar-default-big.png", alt="")
                  div
                    a(href="#!").connection__block-title Крылов Сергей
                p Порекомендуйте хорошего калиграфиста
                p.p-city Москва
                  
              .screen__user-profile
                .screen__user-nav
                  .screen__user-nav-top
                    span
                  .screen__user-nav-popup
                    ul
                      li: a(href="#!") Редактировать
                      li: a(href="#!") Поделиться
                      li: a(href="#!") Удалить
                .connection__block
                  div
                    .connection__block-img
                      div
                        img(src="./img/avatar-default-big.png", alt="")
                  div
                    a(href="#!").connection__block-title Крылов Сергей
                    .small Рекомендует
                p 
                  a(href="#!") @litcabspa 
                  | Хороший салон, особенно мастер Алиса и массажист Алексей
                p.p-city Москва
  
    include ./_include/_footer
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    
